nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 10vh;
    position: fixed;
    width: 100%;
    z-index: 99999999;
}
 .color{
    background-color: #080808;
}
nav .hamburger{
    display: none;
}

nav .menu{
    display: flex;
    align-items: center;
   justify-content: center;
   gap: 30px;
 }
 @media(max-width:700px){
    nav .hamburger{
        display: block;
    }
 
 .menu{
    position: absolute;
    z-index: -1;
    height: 100vh;
    top:0vh;
    width: 100%;
    left: -100%;
    flex-direction: column;
    background-color: rgba(0,0,0,0.7);
    
 }
 .active{
  left:0;
 }
}